#infobox
	max-width 420px
	padding 16px
	color #fff
	position absolute
	top 120px
	right 12px
	font-size 0.75em
	border 1px solid #303030
	border-radius 4px
	box-shadow 0px 0px 4px rgba(0,0,0,0.85)
	background-color #000
	z-index 99
	.close-btn
		width 16px
		display block
		position absolute
		top 4px
		right 4px
		font-size 1.25em
		cursor pointer
		text-align center

	.headline
		margin 10px 0
		font-weight 100
		text-shadow 0 1px 4px rgba(0,0,0,0.9)

	.property
		display block
	.property.green
		color green
	.property.red
		color red


	#planet-view-header-left,
	#planet-view-header-right
		width 50%
		float left
		display block

	#planet-view-content
		display block

	.content-block
		width auto
		margin 10px 20px 0 0
		padding 0
		display inline-block
		vertical-align top
		border-radius 4px
		background-color none
	.label-headline
		margin 16px 0 4px 0
		display block
	.label-group
		margin 0 0 6px 0
		.label
			width 175px
			display inline-block
		.value
			display inline-block
			
	#actions
		margin 10px 0
		display block
		.action
			margin 8px 8px 8px 0
			display block
			color steelblue
			cursor pointer
			border-radius 4px


#tab-list
	width auto
	margin 20px 0
	display block
	li
		padding 4px 8px
		float left
		cursor pointer
		border 1px solid #333
	li.active
		background-color #333

#tabs
	width auto
	display block
	clear both
	.tab
		height auto
		max-height 400px
		padding 8px
		display none
		overflow auto
	.tab.active
		display block
		border 1px solid #333
		img 
			width 100%
			max-width 100%
			height auto
			margin 0 0 4px 0
			border 1px solid #333
		#system-planets
			li
				height 64px
				margin 0 0 10px 0
				display block
				clear both
				img
					width 64px
					height auto
					margin 0 8px 0 0
					float left



