#loader
	width 240px
	height 64px
	margin -32px 0 0 -120px
	position absolute
	left 50%
	top 50%
	z-index 99
	color #fff
	line-height 64px
	text-align center
	border-radius 6px
	background-color steelblue
	span 
		margin 0 6px