#mainmenu
	width 480px
	margin 6px 0 0 -240px
	border-top 0
	position absolute
	left 50%
	top 0
	z-index 3
	.menu
		width 100%
		margin 0
		text-align center
		li
			width 42px
			height 38px
			padding 0 6px
			display inline-block
			cursor pointer
			line-height 38px
			text-align center
			vertical-align middle
			span.fa
				color #fff
				font-size 1.15em
			img
				width 30px
		li:hover
			color rgba(64, 64, 64, 0.9)