#popup
	padding 16px
	color #fff
	position absolute
	top 50%
	left 50%
	border 1px solid #81B1DA
	border-radius 4px
	box-shadow 0px 0px 4px rgba(0,0,0,0.85)
	background-color rgba(6, 85, 126, 0.75)
	z-index 99
	.close-btn
		width 16px
		display block
		position absolute
		top 4px
		right 4px
		font-size 1.25em
		cursor pointer
		text-align center

	.headline
		margin 0
		font-weight normal
		text-shadow 0 1px 1px rgba(0,0,0,0.25)

	.content-block
		width auto
		padding 20px
		margin 20px 20px 0 0
		display inline-block
		vertical-align top
		border-radius 4px
		background-color rgba(6, 85, 126, 0.5)
		p
			margin 0 0 16px 0
		.field-block
			width auto
			display block

	img
		width 100%
		max-width 120px
		height auto

	#search-list
		max-height 240px
		margin 10px auto
		font-size 0.75em
		overflow auto
		background-color #5596CB
		li
			padding 8px
			cursor pointer
			span.text-dark
				color #ddd
		li:hover
			background-color steelblue

