#tooltip
	padding 12px
	border 1px solid #333
	background-color #000
	background-color rgba(30,30,30,0.5)
	position absolute
	display none
	border-radius 6px
	z-index 10
	.headline
		padding 0 4px 10px 4px
		color #fff
		font-size 1em
	.property
		padding 4px
		font-size 0.75em
	.property:nth-child(2n+1)
		background-color #090909
		background-color rgba(0,0,0,0.2)
	.label
		width 120px
		margin 0 12px 0 0
		color white
		display inline-block
	.value
		color steelblue
		display inline-block