#tour
	width 320px
	margin 0 0 0 -160px
	display none
	padding 0 10px
	color #fff
	font-size 0.75em
	text-align left
	z-index 2
	position absolute
	right 12px
	bottom 64px
	background-color #000
	background-color rgba(30,30,30,0.5)